@import "tailwindcss";

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

/* Scrollbar mais discreta (opcional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.6); /* tailwind: slate-400/60 */
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: rgba(15, 23, 42, 0.05); /* slate-900/5 */
}
